APPS_SCRIPT_URL=https://script.google.com/macros/s/ID-APPSCRIPT/exec
ALLOWED_ORIGIN=http://localhost:puerto, http://dominio.otro
OTP_SECRET=codigo generado
SESSION_SECRET=clave_aleatoria_de_firma
SESSION_TTL=1800000
PORT=3000